.Pagetot{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.646), rgba(0, 0, 0, 0.908)) , url("../images/background-page.jpg");
    background-size: cover;
    background-position: center;
}

/* .cardplayer,.cardajout{
    background-image: url("../images/LB-card.webp");
    background-size: 112%;
    background-position: center;

} */

.mudoljou{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.434), rgba(0, 0, 0, 0.908)) , url("../images/background-players.jpg");
    background-size: cover;
    background-position: center;
}

.typescore{
    font-size: 30%;
    line-height: 0;
    color: rgb(160, 249, 160);
}



.scorejou{
    font-size: 60%;
}

@media (min-width: 768px) {
    .typescore{
        font-size: 50%;
    }
    
    .scorejou{
        font-size: 100%;
    }
    
}

.typescore1{
    font-size: 0.56vw;
    line-height: 0;
}

.scorejou1{
    font-size: 0.8vw;
}



.Pagetot input,
select{
    height: 3rem;
    border-radius: 1rem;
    width: 10rem;
    overflow-x: auto;
    text-align: center;
    color: black;
    background-color: rgb(237, 231, 231);
}

@media (min-width: 768px){
    input{
        height: 2rem;
        width: 30%;
    }
}

#titularisés{
    background: url("../images/background-terrain1.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.GK{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.CB1{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    align-self: flex-end;
}

.CB2{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: flex-end;
}

.LB{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.RB{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

.CDM{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: flex-end;
}

.CM2{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.CM3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.LW{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.RW{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.ST{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: flex-end;
}

#titularisés .badgebouton{
    background: url("../images/badge-plus.png") no-repeat;
    background-size: contain;
    background-position: center;
}

#remplaçants .badgebouton{
    background: url("../images/badge-remp.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.badgebouton span{
    font-size: 1.6vw;
}

/* #remplaçants .badgebouton */


#Delete{
    background: url("../images/deletebadge.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.badgebouton:hover,.badgeremp:hover{
    scale: 1.1;
    transition: all 500ms ;
}

.bgGK{
    background-image: url("../images/GK-bade.webp");
    background-size: 112%;
    background-position: center;
}

.bgLB,.bgRB,.bgCB{
    background-image: url("../images/B-card.webp");
    background-size: 112%;
    background-position: center;
}

.bgCM,.bgCDM{
    background-image: url("../images/M-badge.png");
    background-size: 112%;
    background-position: center;
}

.bgLW,.bgRW{
    background-image: url("../images/W-badge.png");
    background-size: 112%;
    background-position: center;
}
.bgST{
    background-image: url("../images/ST-badge.png");
    background-size: 112%;
    background-position: center;
}

#mudalnouv form{
    background-image: url("../images/bg-modul.jpg");
    background-size: cover;
    background-position: center;
}
